@model Chef
<div class="container-fluid">
  <h1>Add a Chef!</h1>
  <a asp-action="Index" asp-controller="Home">Home</a>
  <div class="container">
    <form action="/create/chef" method="post">
      <div class="d-flex flex-column">
        <label asp-for="FirstName"></label>
        <input type="text" asp-for="FirstName">
        <span class="text-danger" asp-validation-for="FirstName"></span>
        <label asp-for="LastName"></label>
        <input type="text" asp-for="LastName">
        <span class="text-danger" asp-validation-for="LastName"></span>
      </div>
      <div class="d-flex flex-column">
        <label asp-for="DateOfBirth"></label>
        <input type="date" asp-for="DateOfBirth" value="@DateTime.UtcNow">
        <span class="text-danger" asp-validation-for="DateOfBirth"></span>
        <button type="submit" class="btn-success">Submit</button>
      </div>
    </form>
  </div>
</div>